.userLeft {
  background-color: #eee;
  height: 90vh;
}

.userLeft img {
  width: 50%;
  margin-left: 25%;
}

.imageRight {
  background-color: rgba(255,255,255, .6);
  padding: 20px 10px;
}

.imageRight img {
  width: 100%;
}

.container {
  width: 100%;
}