form .sign{
	width: 65%;
	margin: 0.5em;
	height: 1em;
}

input > .sign{
	padding: 0.5em;
	font-size: 0.7em;
}

.logButton{
	background-color: #0074c1;
	padding: 0.5em 1em;
	margin-top: 0.7em;
	color: #000;
	border: none;
	border-radius: 0.5em;
	font-size: 0.7em;
	font-family: 'Acme', sans-serif;
	display: inline-block;
}

.logButton:hover{
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 0.5em;
}
